@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prim-color: #ffffff;
  --body-color: #dcdcdc;
  --white-color: #ffffff;
  --black-color: #000000;
  --text-color: #ffffff;

  --bricolage-font: "Bricolage Grotesque", sans-serif;
  --poppins-font: "Poppins", sans-serif;

  --transition-fast: 0.2s;
  --transition-regular: 0.6s;
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}

.hero-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./assets/blog1.jpg') no-repeat center center/cover;
  min-height: 70vh;
  position: relative;
}

.hero-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./assets/blog2.jpeg') no-repeat center center/cover;
  min-height: 70vh;
  position: relative;
}

.hero-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./assets/blog3.jpeg') no-repeat center center/cover;
  min-height: 70vh;
  position: relative;
}



.hero:after{
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3) ;
  z-index: -1;
}


